a {
  margin-right: 5px;
  font-size: 18px;
}
a.active {
  border: 1px solid #23be0a;
  background-color: transparent !important;
  color: #23be0a !important;
}
a:hover {
  border: 1px solid #23be0a;
  background-color: transparent !important;
  color: #23be0a;
}
